@import "@/assets/css/index.scss";

.wrapper {
  width: 100%;

  .title {
    $HEIGHT: 20px;
    height: $HEIGHT;

    > div {
      float: left;
      line-height: $HEIGHT;
      height: 100%;
    }

    > div:first-child {
      width: 10px;
      background-color: $THEME_COLOR;
    }

    > div:last-child {
      font-size: 16px;
      padding-left: 5px;
    }
  }

}

.sendCodeBtn {
  @include unSelectable;
  width: 140px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  padding: 5px 0;
  font-size: 14px;
  color: $FONT_COLOR!important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  border-radius: 5px;
}