@import "@/assets/css/index.scss";

.deleted {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10vh;
  @include unSelectable;

  > img {
    display: block;
  }

  > .deletedCode {
    color: $FONT-COLOR;
  }

  > div:last-child {
    color: $FONT-COLOR;
  }
}

@media (width >= $BREAK_POINT) {
  .deleted {
    > img {
      margin: 50px 0;
      width: 500px;
      height: 350px;
    }

    > .deletedCode {
      font-size: 40px;
    }

    > div:last-child {
      font-size: 24px;
    }
  }

}

@media (width < $BREAK_POINT) {
  .deleted {
    > img {
      margin: 50px 0;
      width: 250px;
      height: 180px;
    }

    > .deletedCode {
      font-size: 30px;
    }

    > div:last-child {
      font-size: 20px;
    }
  }
}