.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:100px;

  .textArea{
    width: 60%;
    height: 300px!important;
  }

  .btns{
    > button{
      margin: 20px;
    }
  }
}