@import "@/assets/css/index.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2px;
  left: 0;
  z-index: $GRADE_GOD;
  opacity: 1;
  transition: opacity .3s;

  // 亚克力（注意backdrop-filter只作用于其后的内容）
  backdrop-filter: saturate(2) blur(8px); /* 背景模糊效果，需要浏览器支持 */
  -webkit-backdrop-filter: saturate(2) blur(8px); /* WebKit 浏览器兼容性 */
  background-color: rgba(255, 255, 255, .8);

  .anime {
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      margin: 0 5px;
      background-color: rgb(232, 127, 66);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    @for $i from 1 through 3 {
      > div:nth-child(#{$i}) {
        animation: jump .4s;
        animation-delay: -0.1 + $i*0.1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }
}

.close{
  opacity: 0;
}

.dark{
  background-color: rgba(0,0, 0, .6);
}

.navLoad{
  top:$TOP_HEADER_H;
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
